body {
  font-family: Arial, sans-serif;
  background: #c6dff5;
  padding: 20px;
  text-align: center;
}

input {
  padding: 10px;
  margin: 10px;
  width: 200px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
}

#weatherInfo {
  margin-top: 20px;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #8ea7dd;
  display: inline-block;
  text-align: left;
}
